<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/src/css/plan-accès.css">
    <link rel="shortcut icon" href="./logo siam.png">
    <title>Plan d'accès</title>
</head>
<body>
    <header>
        <table class="haut_page">
            <tr>
                <td><a href="{{ url_for('main') }}">Présentation</a></td>
                <td><a href="{{ url_for('actualités') }}">Actualités</a></td>
                <td><a href="{{ url_for('références') }}">Références</a></td>
                <td><a href="{{ url_for('contact') }}">Contact</a></td>
                <td><a href="{{ url_for('plan') }}">Plan d'accès</a></td>
                <td><a href="{{ url_for('recrutement') }}">Recrutement</a></td>
            </tr>
        </table>
    </header>
</body>
</html>