<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='src/css/présentation.css') }}">
    <link rel="shortcut icon" href="./logo siam.png">
    <title>Siam ingénierie</title>
</head>
<body>
    <h2>Présentation</h2>
    <section class="hello">
        <p>Créée en 2000, <span style="font-weight: bold;">SIAM Ingénierie</span> est une société d'études spécialisée dans le domaine des infrastructures et du Génie Civil, et plus particulièrement dans le secteur des Ouvrages d'Art.</p>

        <p>Cette société a pour vocation de répondre aux besoins  de l'Etat, des Régions, des Départements, des Métropoles et agglomérations, et des Entreprises de Génie Civil en matière d'études et de suivi de travaux.</p>

        <p>Frédéric ALBERT, ingénieur INSA, gérant, a acquis une solide expérience en bureau d'études de par ses fonctions à EUROPE ETUDES, SIMECSOL et SERF.</p>

        <p>Il a participé à la création de SIAM Ingénierie auprès de Pierre GUERIN l'ancien gérant.</p>

        <p>L'équipe est composée de Julien BESSE, François POIZE, ingénieurs Mines d'Alès/CHEBAP, Mahamadou SAMASSA, ingénieur ISBA, Christian ONNILLON, Projeteur Chef de Groupe, Fabrice DREVON, Fanny DELSIPEE, Frédéric ARNAUD, techniciens supérieurs confirmés en matière de projets.</p>

        <p>Mireille COULOMB secrétaire assistante, s'occupe de la partie administrative de la société.</p>

        <p>La formation et les expériences des différents collaborateurs confèrent à la société les compétences et le savoir-faire nécessaires pour répondre parfaitement aux demandes de ses donneurs d'ordre.</p>
    </section>
    <br><br>
    
    <section class="hello">
        <h2>L'équipe</h2>

        <center>
            <table
            cellpadding="10" 
            cellspacing="4" 
            style="text-align:center"
            width="90%"
            >
                <tr>
                    <td>
                        <img src="{{ url_for('static', filename='images/frederic.jpg') }}" height="200" alt="image Frédéric">
                        <br>
                        Frédéric ALBERT
                        <br>
                        Gérant
                        <br>
                        <a href="{{ url_for('static', filename='cv/cv frédéric.pdf') }}" target="_blank">Voir le CV</a>
                    </td>
                    <td>
                        <img src="{{ url_for('static', filename='images/mireille.jpg') }}" height="200" alt="image Mireille">
                        <br>
                        Mireille COULOMB
                        <br>
                        Assistante administrative
                        <br>
                        <a href="{{ url_for('static', filename='cv/cv mireille.pdf') }}" target="_blank">Voir le CV</a>
                    </td>
                </tr>

                <tr>
                    <td><img src="{{ url_for('static', filename='images/julienb.jpg') }}" alt="image Julien">
                        <br>
                        Julien BESSE
                        <br>
                        Ingénieur
                        <br>
                        <a href="{{ url_for('static', filename='cv/cv julien.pdf') }}" target="_blank">Voir le CV</a>
                    </td>
                    <td>
                        <img src="{{ url_for('static', filename='images/francois.jpg') }}" alt="image François">
                        <br>
                        François POIZE
                        <br>
                        Ingénieur
                        <br>
                        <a href="{{ url_for('static', filename='cv/cv françois.pdf') }}" target="_blank">Voir le CV</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="{{ url_for('static', filename='images/mamadou.png') }}" alt="image Mahamadou">
                        <br>
                        Mahamadou SAMASSA
                        <br>
                        Ingénieur
                        <br>
                        <a href="{{ url_for('static', filename='cv/cv mahamadou.pdf') }}" target="_blank">Voir le CV</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="{{ url_for('static', filename='images/christian.jpg') }}" alt="image Christian">
                        <br>
                        Christian ONNILLON
                        <br>
                        Projeteur chef de groupe -
                        <br>
                        Responsable suivi travaux
                        <br>
                        <a href="{{ url_for('static', filename='cv/cv christian.pdf') }}" target="_blank">Voir le CV</a>
                    </td>
                    <td>
                        <img src="{{ url_for('static', filename='images/fabrice.jpg') }}" alt="image Fabrice">
                        <br>
                        Fabrice DREVON
                        <br>
                        Dessinateur Projeteur
                        <br>
                        <a href="{{ url_for('static', filename='cv/cv fabrice.pdf') }}" target="_blank">Voir le CV</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        <img src="{{ url_for('static', filename='images/fanny.jpg') }}" alt="image Fanny">
                        <br>
                        Fanny DELSIPEE
                        <br>
                        Dessinatrice Projeteuse
                        <br>
                        <a href="{{ url_for('static', filename='cv/cv fanny.pdf') }}" target="_blank">Voir le CV</a>
                    </td>
                    <td>
                        <img src="{{ url_for('static', filename='images/fredericar.jpg') }}" alt="image Frédéric">
                        <br>
                        Frédéric ARNAUD
                        <br>
                        Dessinateur Projeteur
                        <br>
                        <a href="{{ url_for('static', filename='cv/cv frédéricar.pdf') }}" target="_blank">Voir le CV</a>
                    </td>
                </tr>
            </table>
        </center>
    </section>
</body>
</html>