h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    color: #0c8486;
    margin-left: 0.75em;
}

body{
    background-attachment: scroll;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    padding: .8em 1em;
    color: #555;
}

.gras{
    font-weight: bold;
}

.moyen{
    font-size: 1.1em;
}